@import "tailwindcss";

@keyframes carousel {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-carousel {
    display: flex;
    animation: carousel 20s linear infinite;
  }
  